# Virtual environments
venv/
env/
.venv/

# Python-specific files
__pycache__/
*.pyc
*.egg-info/
*.so
*.pyd

# Configuration and sensitive files
.env
instance/

# Editor and IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Database files
*.sqlite3
*.db
